@import url('fonts.css');
@import url('style.css');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar';

@theme {
    --font-sans: 'Geist', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));