@media screen and (max-width: 768px) {
    .flex-grid.flex-grid--cols-2 {
        display: flex;
        flex-direction: column;
    }

    .container {
        padding: 0 10px;
    }

    .paned {
        display: initial;
    }

    nav.navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar-end {
        display: flex;
    }
}
